body{
	background-color:#049CFF;
}
h1{
	background-color:#50BEFF;
	color:white;
	font-size:60px;
	text-align:center;
	font-family:Times New Roman;
}
p {
	text-align:center;
	font-size:30px;
	font-family:comic sans;
	color:white;
}